<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>http://wx.examw.cn/api.php/</string>
	<key>token</key>
	<string>examw</string>
	<key>key</key>
	<string>AQi6TZ4Nh8vy2ByMob</string>
	<key>copyright</key>
	<string> © 2006 - 2016 中华考试网</string>
	<key>recharges</key>
	<dict>
		<key>6</key>
		<string>ch_recharge_6</string>
		<key>12</key>
		<string>ch_recharge_12</string>
		<key>25</key>
		<string>ch_recharge_25</string>
		<key>50</key>
		<string>ch_recharge_50</string>
		<key>98</key>
		<string>ch_recharge_98</string>
		<key>188</key>
		<string>ch_recharge_188</string>
		<key>288</key>
		<string>ch_recharge_288</string>
	</dict>
</dict>
</plist>
