<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>http://wx.examw.cn/api.php/</string>
	<key>token</key>
	<string>examw</string>
	<key>key</key>
	<string>AQi6TZ4Nh8vy2ByMob</string>
	<key>copyright</key>
	<string> © 2006 - 2016 中华考试网</string>
	<key>recharges</key>
	<dict>
		<key>ch_recharge_6</key>
		<integer>6</integer>
		<key>ch_recharge_12</key>
		<integer>12</integer>
		<key>ch_recharge_25</key>
		<integer>25</integer>
		<key>ch_recharge_50</key>
		<integer>50</integer>
		<key>ch_recharge_98</key>
		<integer>98</integer>
		<key>ch_recharge_188</key>
		<integer>188</integer>
		<key>ch_recharge_288</key>
		<integer>288</integer>
	</dict>
</dict>
</plist>
