<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>http://ios.youeclass.com/youe/</string>
	<key>token</key>
	<string>dali</string>
	<key>key</key>
	<string>39b19231d4d62bde</string>
	<key>copyright</key>
	<string>© 北京好学未来网络科技有限公司</string>
	<key>recharges</key>
	<dict>
		<key>youeclass_recharge_6</key>
		<integer>6</integer>
		<key>youeclass_recharge_12</key>
		<integer>12</integer>
		<key>youeclass_recharge_25</key>
		<integer>25</integer>
		<key>youeclass_recharge_50</key>
		<integer>50</integer>
		<key>youeclass_recharge_98</key>
		<integer>98</integer>
		<key>youeclass_recharge_188</key>
		<integer>188</integer>
		<key>youeclass_recharge_288</key>
		<integer>288</integer>
	</dict>
</dict>
</plist>
