<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>http://wx.daliedu.cn:8000/dali/api.php/</string>
	<key>token</key>
	<string>test</string>
	<key>key</key>
	<string>0123456</string>
	<key>copyright</key>
	<string>© 大立教育</string>
</dict>
</plist>
