<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>http://192.168.1.112/huike/api.php/</string>
	<key>token</key>
	<string>huike</string>
	<key>key</key>
	<string>uR2bN5z0mX8mhf9JO</string>
	<key>copyright</key>
	<string>©2015 长沙品学网络科技有限公司</string>
</dict>
</plist>
